:root {
	--background-color:	#1c1c1c;
	--foreground-color:	#d7d7af;
	
	--link-color:		var(--blue);
	--link-visited-color:	var(--yellow);

	--blue:			#83a598;
	--yellow:		#D79921;
}

body {
	background:		var(--background-color);
}

* {
	color:			var(--foreground-color);
}

@keyframes blink {
	0% {
		color:		var(--foreground-color);
		background-color: var(--background-color);
	}
	50% {
		color:		var(--background-color);
		background-color: var(--foreground-color);
	}
}
@keyframes flag-blink {
	0% {
		color: #ffffff;
		text-shadow: none;
	}
	50% {
		color: transparent;
		background-color: var(--foreground-color);
		text-shadow: 0 0 0 var(--background-color);
	}
}

.blink {
	animation:		blink 1s infinite steps(1);
}
.flag-blink {
	animation:		flag-blink 1s infinite steps(1);
}

h1 {
	font-size:		25px;
	font-weight:		normal;
}
h2 {
	font-size:		20px;
	font-weight:		normal;
	margin:			0;
}

p {
	margin-top:		5px;
}

a {
	color:			var(--link-color);
	text-decoration:	none;
}
a:hover {
	text-decoration:	underline;
}
/*
a:visited {
	color:			var(--link-visited-color);
}
*/

/* 4get css */
.home #center {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.home a {
	color: var(--link-color);
	text-decoration: none;
}
.home a:hover {
	text-decoration: underline;
}

.navigation a {
	color: var(--link-color);
	text-decoration: none;
}
.navigation a:hover {
	text-decoration: underline;
}
